body {
    border-color: rgb(209, 202, 192);
}
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}
.profileimage {
    width:10 px;
    padding-top: 55px;
    height:10 px;
   
}
.profile h2 {
    color: rgb(245, 198, 198);
}
.profile h2 {
    color: white;

transform: translateY(-10px);}

.about me {
    background-color: #fff;
     padding-top: 55px;

}
.row {
    padding: opx 10px;
}
.hobby {
    padding-top: 55px;
}
.footer {
    background-color: #fff;
    padding-bottom: 20px;
}
.contact a {
    color: black;
    font-size: 30px;
    
}
.watermark {
    padding-bottom: 30px;
}